.FormBar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-top: solid 1px rgb(155, 152, 152);
  background-color: #f5f5f5;
  margin-bottom: 12px;
}
